.block {
  margin-bottom: 5px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.expandable-title {
  display: block;
  color: #5ccd18 !important;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 5px;
  .text {
    color: #5ccd18 !important;
    border-bottom: 1px solid #5ccd18;
    .desc {
      color: black !important;
      font-weight: 400 !important;
    }
  }
}

.p-title {
  font-size: 14px !important;
  font-weight: 500;
  text-decoration: underline;
}

hr {
  margin-top: 13px;
}

.load-more {
  margin-top: 10px;
  font-size: 14px;
  color: darkgray !important;
  &:hover {
    color: rgb(119, 119, 119) !important;
  }
}

.loading {
  font-size: 14px;
  margin-top: 10px;
  color: darkgray !important;
}

.no-style-button {
  cursor: pointer;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: transparent;

  &:hover,
  &:focus {
    background: inherit;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: none;
  }
}

.copy-button {
  width: 15px;
  border-radius: 3px;
  &:hover,
  &:focus {
    background: inherit;
    background-color: rgba(153, 153, 153, 0.2);
    border-color: rgba(153, 153, 153, 0.2);
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:active {
    cursor: pointer;
    .header-button-icon {
      color: #fff;
    }
    background-color: rgba(100, 100, 100, 0.4);;
    border-color: rgba(100, 100, 100, 0.4);;
    transform: none;
  }
}

.copied-label {
  color: lightgray;
}



.operation-button-icon {
  color: #9e9e9e;
}
